[user]
	name  = Maarten Peels
	email = maartenpeels@gmail.com

[core]
	editor     = vim
	autocrlf   = input
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[push]
	default       = current
	autoSetupRemote = true

[pull]
	rebase = true

[rebase]
	autoStash = true

[merge]
	ff = false

[diff]
	colorMoved = zebra

[color]
	ui = auto

[init]
	defaultBranch = main

[alias]
	st  = status -sb
	lg  = log --oneline --graph --decorate --all
	co  = checkout
	br  = branch
	cp  = cherry-pick
	undo = reset --soft HEAD~1

[includeIf "gitdir:~/Projects/Personal/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/Projects/Work/"]
	path = ~/.gitconfig-work

[includeIf "gitdir:~/Projects/Work/LG/"]
	path = ~/.gitconfig-liberty

